{% extends 'base.html' %}

{% block title %}HUB Authentication{% endblock %}

<h1>HUB Authentication</h1>

{% block main %} 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <style>
    .wrapper {
      width: 500px;
    }
    
    .progress-bar {
      width: 100%;
      background-color: #e0e0e0;
      padding: 3px;
      border-radius: 3px;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
    }
    
    .progress-bar-fill {
      display: block;
      height: 22px;
      background-color: #659cef;
      border-radius: 3px;
      
      transition: width 500ms ease-in-out;
    }
  </style>
  <style>
    input[type=email] {
        padding: 10px;
        margin:10px 0;
        border-radius:0px;
    }
    input[type=password] {
        padding: 10px;
        margin:10px 0;
        border-radius:0px;
    }
    /*
    input[type=submit] {
        padding: 5px;
        margin:5px 0;
        border-radius:10px;
    }
    */
    /*label {
        color: #B4886B;
        font-weight: bold;
        display: block;
        width: 150px;
        float: right;
    }*/
    .btn {
        cursor: pointer;
        background-color:darkgray ;
        height: 30px;
        font-family: sans-serif;
        border-radius:5px;
    }

    input.btn[type="submit"]:hover {
        border: 1px solid black;
    }
  </style>
<style>
    h1 {
        padding: 30px;
        text-align: center;
        background: #bc1a6b;
        color: white;
        font-size: 30px;
        }
      a {
        color: black;    
        background-color: darkgray;    
        display: inline-block;
        padding: 2px 10px;
        border: 2px solid black;
        text-decoration:none;
        text-align: center;
        font: 14px Arial, sans-serif;  
        border-radius:5px;
        }
</style>
  <script>
    
    clicked = 0
    function buttonClicked() {
        clicked = 1
    }
  </script>

<form action="hub_stats" method="POST">
    
    <input type="email" name="hub_email" placeholder="Email for HUB login" value="" required>
    <br>
    
    <input type="password" name="hub_password" placeholder="HUB password" value="" required>
    <br>
    <br>
    <input class="btn" type="submit" value="Login and pull statistics" onclick="return buttonClicked();">
</form>

<br>
<a href="{{ url_for('home') }}">Home</a>
<br>


<div class="wrapper" id="progress-wrapper" style="display: none;">
  <p>Percentage complete = <span id=result></span></p>
  <div class="progress-bar">
    <span id="pbar" class="progress-bar-fill" style="width: 20%;"></span>
  </div>
</div>


{% endblock %}
